@font-face {
	font-family: Avenir-Light;
	src: url(fonts/avenir/AvenirLTStd-Light.otf);
}

@font-face {
	font-family: Avenir-Medium;
	src: url(fonts/avenir/AvenirLTStd-Medium.otf);
}

@font-face {
	font-family: Avenir-Heavy;
	src: url(fonts/avenir/AvenirLTStd-Heavy.otf);
}

@font-face {
	font-family: Avenir-Black;
	src: url(fonts/avenir/AvenirLTStd-Black.otf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Avenir-Medium';

}
h5 {
		font-family: 'Avenir-Medium';
    font-size: 40px;
    line-height: 100%;
    margin: 0.82rem 0.656rem 0;
		padding-right: 150px;
		padding-left: 150px;
		font-weight: bold;
}
.chart rect {
  fill: #467fff;
}

.chart text {
  fill: black;
  font: 15px Avenir-Medium;
  text-anchor: start;
}

.inl {
    display: inline;

}

.title {
    font-family: 'Avenir-Medium';
		color:black;
		width: 100%;
}

.center, .center-align {
    text-align: center;
}




.cover{
	padding:80px 0px 0px 0px;
	width: 100%;
	background: white;
	/* background: url('../img/background.jpg') center bottom;*/ /* 1em = 10px */
	background-size: cover;
	position: relative;
	height: 100%;
}

.cover .container{
	position: relative;
	top: 0;
	transform: translate(0,-50%);
}

.animbot, .animtop{
	height: 52%;
	width: 100%;

	position: absolute;
	pointer-events: none;
	z-index: 10;
}

.animbot{
	top: -1;
}

.animtop{
	bottom: -1;
}

.left{
	opacity: 0;
	padding-left: 40px;
}

#temperature{
	font-size: 100px;
	display: block;
	color: #467FFF;
	margin-bottom: -10px;
}

#temperature span{
	font-size: 30px;
	font-family: 'Avenir-Medium';
	vertical-align: top;
	position: relative;
	top: 11px;
	left: 5px;
	letter-spacing: 0px;
}

#temperature i{
	font-size: 30px;
	margin-right: 6px;
}

h1{
	font-size: 60px;
	font-family: 'Avenir-Medium';
	margin: 0px;
	line-height: 1.2;
}

.questions{
	margin-top: 30px;
}

.question{
	font-size: 20px;
	font-size: 12px;
	letter-spacing: 1.5px;
	color: #989898;
	font-family: 'Avenir-Heavy';
	/*color: #467FFF;*/
	/*font-family: 'Avenir-Light';*/
	margin-top:30px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.field{
	cursor: pointer;
	font-size: 22px;
	letter-spacing: 0.5px;
	border-bottom: 1px solid #c9c9c9;
	width: 300px;
	display: inline-block;
	text-align: left;
	position: relative;
	padding: 0px 5px;
	margin-bottom: 0px;
}

.field i{
	font-size: 15px;
	position: absolute;
	bottom: 10px;
	right: 0px;
}

.field input{
	width: 100%;
	border: none;
	outline: none;
}

.field .options{
	/*border: 1px solid #e9e9e9;*/
	border-top: 3px solid #467FFF;
	border-bottom: 3px solid #467FFF;
	position: absolute;
	background: white;
	z-index: 10;
	left: 0;
	top: 100%;
	max-height: 300px;
	overflow: scroll;
	width: 100%;
	box-shadow: 0px 10px 5px rgba(0,0,0,0.1);
	display: none;
}

.field .option{
	border-top: 1px solid #d9d9d9;
	padding: 7px 10px;
	font-size: 20px;
	color: #595959;
	letter-spacing: 0.5px;
	/*text-align: center;*/
}

.field .option:first-child{
	border-top: none;
}

.field .option:hover{
	background: #f9f9f9;
}

.right{
	text-align: right;
	padding-right: 30px;
}

.calcular{
	padding: 10px 0px;
	background: #467FFF;
	color: white;
	border: none;
	border-radius: 3px;
	margin-top: 0px;
	font-size: 20px;
	width: 300px;
	text-align: center;
	letter-spacing: 0.5px;
	outline: none;
	position: relative;
	/*border-radius: 50px;*/
}

.calcular i{
	font-size: 15px;
}

.clari{
	font-size: 13px;
	margin-top: 15px;
	color: #a9a9a9;
	letter-spacing: 0.4px;
	font-family: 'Avenir-Heavy';
}

.clari span{
	border-bottom: 2px solid #c9c9c9;
}

.logo{
	text-align: center;
	position: fixed;
	top: 40%;
	width: 100%;
	z-index: 20;
	font-size: 70px;
	text-transform: uppercase;
	font-family: 'Avenir-Black';
	color: #003D76;
}

.logo p{
	display: inline;
	background: #F5F5F5;
	padding: 20px;
	padding-bottom: 10px;
}

.logo span{
	color: #AB0019;
}

.logo small{
	color: black;
	font-size: 18px;
	letter-spacing: 1px;
	display: block;
	font-family: 'Avenir-Medium';
}

h1 img{
	margin-right: 0px;
}

h1 small{
	font-size: 20px;
	/*font-family: 'Avenir-Light';*/
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #467FFF;
}
